@charset "utf-8";
@import url("JosefinSans_Regular/stylesheet.css");

/* CSS Document */

/*GENERAL*/


@font-face {
	font-family: 'Josefin Slab', serif;
	src: url('JosefinSans-Regular.ttf') format('truetype');
}

li {
  padding-left: 20px;
  padding-right: 20px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.navbar-brand {
    color: white;
}
.nav.navbar-nav.navbar-right a {
    color: white;
}

.navbar-inner {
    background:transparent;
}

.navbar .navbar-toggle .icon-bar {
    background-color: white;
}

.nav > li > a:hover{
    background-color:#16071C;
}

.nav > li > a:active{
    background-color:#16071C;
}

.nav > li > a:focus{
    background-color:#16071C;
}


.WWDtext{
	font-size:150%;
	font-family: "JosefinSans Regular";
}


.fade-background{
-moz-transition: all .2s ease-in;
-o-transition: all .2s ease-in;
-webkit-transition: all .2s ease-in;
transition: all .2s ease-in;
}

.fade-background:hover{
background-color: white;
color:black;
border-radius:15px;
}

.mainWrap {
  max-width:900px;
  width:80%;
  margin:0 auto;
  padding-bottom:50px;
}

.name,
.email {
  width:49%;
  border:0;
  background:#fff;
  padding:20px;
  font-size:1.2em;
  font-family:"JosefinSans Regular";
  box-shadow:4px 4px 0px rgba(0,0,0,.1);
  color:#111;
}

::-webkit-input-placeholder {
  color: #696969;
}

:-moz-placeholder {
 color: #696969; 
}

::-moz-placeholder {  
 color: #696969;
}

:-ms-input-placeholder {  
 color: #696969;
}

.name {
  float:left;
}

.email {
  float:right;
}

.mainArea {
  width:100%;
  box-shadow:4px 4px 0px rgba(0,0,0,.1);
  font-size:1.4em;
  margin-top:20px;
  padding:20px;
  font-family:"JosefinSans Regular";
  color:#111;
  height:200px;
  resize:none;
}

.bigBtn {
  width:100%;
  padding:20px;
  text-align:center;
  margin-top:20px;
  font-size:2em;
  font-family:"JosefinSans Regular";
  background:white;
  color:black;
  cursor:pointer;
}

/* Landscape mobile & down */
@media (max-width: 30em) {
  .wrap h1 {
    font-size:2.3em;
    letter-spacing:0;
  }
  
  .wrap p {
    font-size:1.1em;
    line-height:1.4em;
  }
  
  .name,.email {
    width:100%;
  }
  
  .email {
    margin-top:20px;
  }
  
  .bigBtn {
    font-size:1em;
  }
}

.formbutton{
    background-color:#F55152;
    border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius:5px;
}

.pricing-table {
    max-width: 368px;
    margin: 0 auto;
    transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    border-radius: 0px;
}

.panel-heading-landing {
    padding: 20px !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border: solid 2px #2d374d !important;
    border-bottom: none !important;
}

.panel-heading-landing-box {
    color: #fff !important;
    font-size: 16px !important;
    padding: 3px !important;
    border-top: none !important;
}

.panel-title-landing {
    font-size: 30px;
}

.panel{
	background:none;
}

.panel-body-landing {
	
    border: solid 1px #2d374d !important;
    border-top: none !important;
    border-bottom: none !important;
	font-size:16px;
}

.panel-footer-landing {
    border: solid 2px #2d374d !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-top: none !important;
	background:none;
}

.intro{
	font-size:120%;
}

.modalDialog {
	position: fixed;
	overflow: scroll;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 80vw;;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 2px;
	background:#16071C;
}

.close {
	color:white;
}


.link{
	color:white;
}
