@charset "utf-8";
@import url("JosefinSans_Regular/stylesheet.css");

/* CSS Document */

/*GENERAL*/

#navigationBar{
	min-height:7vh;
	background-color:#F7F7F7;
	border:10px solid #F7F7F7;
}

#buttons{
	width: 80%;
	margin: auto; 
	text-align: center;
}

.button{
	vertical-align: middle;
	background-color: #F7F7F7;
	border: none;
	color: #63768D;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 3vh;
	font-family: "JosefinSans Regular";
	border-radius: 2px;
}

#devFoundation{
	vertical-align:middle;
	width:40%;
	float:left;
	font-size: 3vh;
	font-family: "JosefinSans Regular";
	color: #63768D;
	line-height:7vh;
		
}

body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px
}

/* ONE */

.Section1{
	background-image:url(QueensTitleImage.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height:90vh;
	position:relative;
	text-align:center;
}

#title1{
	font-size:8vh;
	color:white;
	text-align: center;
	font-family: "JosefinSans Regular";
	position:absolute;
	top:25vh;
	left:0;
	right:0;
}

#message{
	text-align: center;
	font-size: 250%;
	color: white;
	font-family: "JosefinSans Regular";
	position:absolute;
	top:40vh;
	left:0;
	right:0;
}

/* TWO */

.Section2{
	background-color:white;
	border: 10px solid white;
	min-height:40vh;
}

#content2{
	width:60%; 
	margin: auto; 
	text-align: left;
	font-size:2.5vh;
	color:#63768D;
	font-family: "JosefinSans Regular";
}


/* THREE */

.Section3{
	background-color:white;
	border: 10px solid white;
	min-height:50vh;
}

#title3{
	font-size:5vh;
	color:#63768D;
	font-family: "JosefinSans Regular";
	text-align: center;
}

#content3{
	width:65%; 
	margin: auto; 
	text-align: left;
	font-size:2.25vh;
	color:#63768D;
	font-family: "JosefinSans Regular";
}

/* FOUR */

.Section4{
	background-color:white;
	border: 10px solid white;
	min-height:35vh;
}

#title4{
	font-size:5vh;
	color:#63768D;
	font-family: "JosefinSans Regular";
}

#content4{
	width:65%; 
	margin: auto; 
	text-align: left;
	vertical-align:middle;
	font-size:2.5vh;
	color:#63768D;
	font-family: "JosefinSans Regular";
}

#footer{
	width: 65%;
	margin:auto;
	text-align: left;
	font-size:2.5vh;
	font-family: "JosefinSans Regular";
	padding-top:2%;
}